.placeit{
  bottom: -20px;
  background-color: #00FF00;
  right: 0;
  padding: 5px
}
.activitycard{
  max-width: 300px;
}
.showmorevideotech{
  max-width: 200px;
}
@media(max-width:874px){
  .activityflex{
    flex-wrap:wrap;
    justify-content: center;
  }
}